<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softex.gtec">

    <application
        android:name=".GTecApp"
        android:allowBackup="true"
        android:icon="@mipmap/login_logo"
        android:label="@string/app_name"
        android:fullBackupContent="true"
        android:roundIcon="@mipmap/login_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GTEC"
        tools:ignore="AllowBackup">

        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.GTEC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>